<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form action = "/predict" method = "post", style= "text-align: center;">
        
            <br>
            CLMSEX: <input type="number" name="CLMSEX", placeholder="gender" required/>
            <br><br>
            CLMINSUR: <input type="number" name="CLMINSUR", placeholder="insurance" required/>
            <br><br>
            SEATBELT: <input type="number" name="SEATBELT", placeholder="seatbelt" required/>
            <br><br>
            CLMAGE: <input type="number" name="CLMAGE", placeholder="age" required/>
            <br><br>
            LOSS: <input type="number" name="LOSS", placeholder="loss" required/>
            <br><br>
            <button value="prediction">predict</button>
        </form>

    </body>
</html> 