<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form action = "/predict" method = "post", style= "text-align: center;">
        
            <br><br>
            rdspend: <input type="number" name="rdspend", placeholder="rdspend" required/>
            <br><br>
            admin: <input type="number" name="admin", placeholder="admin" required/>
            <br><br>
            market: <input type="number" name="market", placeholder="market" required/>
            <br><br>
            state: <input type="number" name="state", placeholder="state" required/>
            <br><br>
            <button value="prediction">predict</button>
        </form>

    </body>
</html> 